@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");

:root {
  --primary-color: #d9c4a3;
  --secondary-color: #f3e3c9;
  --text-color: #0a0a0a;
}

body {
  font-family: "Tagesschrift", system-ui;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.screen {
  max-width: 500px;
  width: 100vh;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px var(--secondary-color);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.logo {
  width: 80%;
  margin-bottom: 10px;
}

/* Botões */
.btn {
  font-family: "Tagesschrift", system-ui;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s;
  color: var(--text-color);
}

.btn:hover {
  transform: scale(1.05);
  transform: translateY(-5px);
}

.btn-menu {
  background-color: var(--primary-color);
  border: 4px solid var(--text-color);
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  display: block;
  font-size: 1.5rem;
}

.btn-game {
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 15px;
  margin: 10px auto;
}

.btn-action {
  background-color: var(--text-color);
  border: 3px solid var(--primary-color);
  color: var(--secondary-color);
  width: 40%;
  height: 80px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.btn-upgrade {
  background-color: var(--secondary-color);
  border: 3px solid var(--text-color);
  width: 100%;
  margin: 10px 0;
}

.btn-upgrade:hover {
  transform: scale(1.02);
}

.btn-upgrade:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-upgrade:disabled:hover {
  transform: none;
}

.btn-small {
  margin-top: 30px;
  font-size: 0.8rem;
  padding: 8px;
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.btn-image {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  vertical-align: middle;
}

/* Menu */
.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.versao {
  font-size: 1rem;
  margin-top: 30px;
}

/* História */
.story-content {
  background-color: var(--primary-color);
  padding: 20px;
  border: 3px solid var(--text-color);
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1.25rem;
}

/* Jogo */
#game-screen {
  flex-direction: column;
  border: 3px solid var(--text-color);
  padding: 10px;
  margin: 5px;
}

.status-container {
  margin-bottom: 5px;
  border: 3px solid var(--text-color);
}

.status-bar {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: var(--text-color);
  padding: 5px;
  border: 3px solid var(--primary-color);
}

.status-item {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.status-item img {
  height: 25px;
  margin-right: 5px;
}

.status-item span {
  font-size: 1.5rem;
}

.game-area {
  background-color: var(--text-color);
  padding: 5px;
  margin-bottom: 7px;
  height: 100%;
}

.monster-name {
  font-size: 1.25rem;
  margin-bottom: 40px;
  background-color: var(--text-color);
  color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  padding: 5px 10px;
}

.room-container {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-image: url("images/ui/forest.webp");
  background-size: cover;
  background-position: center;
  border: 3px solid var(--primary-color);
}

.room-element img {
  display: flex;
  height: 175px;
  position: absolute;
  bottom: 0;
  object-fit: contain;
}

.room-element {
  position: absolute;
  width: 175px;
  height: 175px;
  bottom: 10px;
}

.room-element.boss {
  position: absolute;
  width: 225px;
  height: 175px;
  bottom: 10px;
}

.monster-name {
  position: absolute;
  top: 10px;
}

.room-number {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.5rem;
  color: var(--primary-color);
  z-index: 10;
}

.log-area {
  background-color: var(--text-color);
  color: var(--secondary-color);
  padding: 5px;
  border: 3px solid var(--primary-color);
  min-height: 60px;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.2;
}

#orientation {
  font-size: 1.25rem;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 20px;
  color: var(--secondary-color);
}

.action-buttons,
.explore-buttons,
.trap-buttons,
.chest-buttons,
.safe-room-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 5px;
}

.action-buttons {
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.item-container {
  border: 2px solid var(--text-color);
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  height: 70px;
}

.action-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--text-color);
}

.action-container {
  margin-top: 10px;
  height: 120px;
}

/* Game Over e Créditos */
.credits-content,
.about-content,
.instructions-content,
.game-over-content {
  background-color: var(--primary-color);
  padding: 20px;
  border: 3px solid var(--text-color);
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1.25rem;
  text-align: center;
}

/* Modal de Fortalecimento */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--primary-color);
  border: 5px solid var(--text-color);
  padding: 20px;
  max-width: 500px;
  width: 90%;
}

#erase-modal .modal-content {
  background-color: var(--primary-color);
  border: 5px solid var(--text-color);
  padding: 20px;
  max-width: 500px;
  width: 80%;
  line-height: 1.5;
}

#erase-modal h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#erase-modal p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.yes-no-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#ok-buttons {
  display: flex;
  flex-direction: column;
}

#btn-yes,
#btn-erase-yes {
  background-color: var(--text-color);
  border: 3px solid var(--text-color);
  color: var(--secondary-color);
}
#btn-no,
#btn-erase-no,
#btn-ok {
  background-color: var(--primary-color);
  border: 3px solid var(--text-color);
}

.strengthen-options {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

/* Responsividade */
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 5px;
  }

  .btn-menu {
    font-size: 1.3rem;
  }

  .btn-game {
    font-size: 1.2rem;
  }

  .btn-small {
    font-size: 0.8rem;
  }

  .room-container {
    height: 225px;
  }

  .room-element img {
    height: 135px;
  }

  .room-element {
    width: 135px;
    height: 135px;
  }

  .room-element.boss {
    width: 185px;
    height: 135px;
  }

  .status-item,
  .log-area,
  .story-content,
  .credits-content,
  .about-content,
  .instructions-content {
    font-size: 1.1rem;
  }

  .inventory-title {
    font-size: 1.1rem;
  }

  .inventory img {
    width: 40px;
    height: 40px;
  }
}
